h1 Users#show
= attachment_image_tag @user, :image, size: "150x150", class: "img-circle pull-left profile-thumb", fallback: "no_profile_image.jpg"
p= "名前 #{@user.name}"
p= "プロフィール #{@user.intro}"
- if @user == current_user
  =link_to '編集', edit_user_path(@user)