// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./movies";
@import "./reviews";

/* header */

header {
  margin-bottom: 45px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
  color: #777;
}

header ul {
  float: right;
  list-style: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
