// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background-color: rgb(223, 223, 223);
$line-color: rgb(223, 223, 223);

#app {
  display: flex;
  flex-wrap: wrap;
}
#app > div {
  width: 24%;
  margin: 0.3rem;
  background-color: whitesmoke;
}
.movie_show_poster {
  width: 100%;
}
.poster {
  width: 100%;
}
#movie_show_review_card {
  margin-bottom: 1rem;
  background-color: whitesmoke;
}

.card-body a {
  margin-bottom: 0.5rem;
}

.movie_show_info {
  padding: 1rem;
  margin-bottom: 3rem;
  border: solid $line-color 1px;
  background-color: whitesmoke;
}

#movie_show_score_section {
  margin: auto;
}

.movie_show_review_follow {
  margin-left: 0.5rem;
}