// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
  display: flex;
  flex-wrap: wrap;
  background-color: #b3b3b3;
}
.flex > div {
  width: 30%;
  height: 550px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}