// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app {
  display: flex;
  flex-wrap: wrap;
}
#app > div {
  width: 20%;
  margin: 0.3rem;
  background-color: whitesmoke;
}
.movie_show_poster {
  width: 100%;
}
.poster {
  width: 100%;
}

.card-body a {
  margin-bottom: 0.5rem;
}