// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.star > img {
  height: 35px;
  width: 35px;
}

.css1 { font-size: 0.6em; }
.css2 { font-size: 0.6em; }
.css3 { font-size: 0.6em; }
.css4 { font-size: 0.6em; }
.css5 { font-size: 0.6em; }
.css6 { font-size: 0.8em; }
.css7 { font-size: 1.0em; }
.css8 { font-size: 1.2em; }
.css9 { font-size: 1.4em; }
.css10 { font-size: 1.6em; }
