// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#genre_search, #title_search {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width:760px) {
  #genre_search > div, #title_search > div {
    width: 24%;
    margin: 0.3rem;
    background-color: whitesmoke;
  }
}
@media screen and (max-width:759px) {
  #genre_search > div, #title_search > div {
    // width: 24%;
    margin: 0.3rem;
    background-color: whitesmoke;
  }
}
