// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.user_container > div {
  width: 45%;
  margin: 0.3rem;
  background-color: whitesmoke;
}