// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.user_container > div {
  width: 25%;
  margin: 0.3rem;
  background-color: whitesmoke;
}

#good_bad_reviews_card {
  background-color: whitesmoke;
}

#interest_total_score_avg {
  font-size: 0.9rem;
}

.flex.user_show_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex.user_show_container > div {
  width: 32%;
  margin: 0.3rem;
  background-color: whitesmoke;
}

#user_show_container {
  background-color: whitesmoke;
  border-bottom: none;
}

.wrap{
  width: 100%;
  margin: 0 auto;
}

.clearfix {
  margin: 0;
  padding: 0;
}

.clearfix:after{
  content:"";
  clear: both;
  display: block;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 16.66%;
}

#tab-menu a {
  color: grey;
  text-decoration: none;
  display: block;
  padding: 0.3rem;
  text-align: center;
  background: whitesmoke;
  border: solid $line-color 1px;
}

#tab-menu .active {
  background: #ffc107;
  color: #000;
}

.tab-menu_label {
  font-size: 0.7rem;
}

#tab-contents .tab {
  padding: 30px;
  border: solid $line-color 1px;
  border-top: none;
}

#tab-contents p{
  line-height: 2.5;
}

#interests_flex {
  display: flex;
  flex-wrap: wrap;
  #interests_item {
    width: 24%;
  }
}
