.movie_image
= form_with model: @review, local: true do |f|
  = f.hidden_field :movie_id
  = f.hidden_field :title
  = f.hidden_field :poster_path
  p 総合スコア
  div.star id="total"
  p 脚本
  div.star id="story"
  p 演出
  div.star id="direction"
  p 演技
  div.star id="acting"
  p 映像
  div.star id="visual"
  p 音楽
  div.star id="music"

  javascript:
    $('#total').raty({ size: 36, starOff: '/images/star-off.png', starOn : '/images/star-on.png', starHalf: '/images/star-half.png',
      scoreName: 'review[total_score]', half: true,
    });
    $('#story').raty({ size: 36, starOff: '/images/star-off.png', starOn : '/images/star-on.png', starHalf: '/images/star-half.png',
      scoreName: 'review[story_score]', half: true,
    });
    $('#direction').raty({ size: 36, starOff: '/images/star-off.png', starOn : '/images/star-on.png', starHalf: '/images/star-half.png',
      scoreName: 'review[direction_score]', half: true,
    });
    $('#acting').raty({ size: 36, starOff: '/images/star-off.png', starOn : '/images/star-on.png', starHalf: '/images/star-half.png',
      scoreName: 'review[acting_score]', half: true,
    });
    $('#visual').raty({ size: 36, starOff: '/images/star-off.png', starOn : '/images/star-on.png', starHalf: '/images/star-half.png',
      scoreName: 'review[visual_score]', half: true,
    });
    $('#music').raty({ size: 36, starOff: '/images/star-off.png', starOn : '/images/star-on.png', starHalf: '/images/star-half.png',
      scoreName: 'review[music_score]', half: true,
    });
  .tags
    = f.label :tag_list, 'タグ(5つまで入力可)'
    = text_field_tag 'review[tag_list]', @review.tag_list.join(','), data: {role: 'tagsinput'}

  p 本文
  = f.text_area :body

  .actions
  = f.submit '投稿'

javascript:
  movie_id = gon.movie_id //moviesコントローラーで定義した変数を代入
  fetch(`https://api.themoviedb.org/3/movie/${movie_id}?api_key=${gon.TMDb_KEY}&language=ja-JP`)
  .then(response => {
    return response.json();
  })
  .then(data => {
    console.log(data);

    container = document.querySelector('.movie_image');

    const poster = document.createElement('img');
    poster.classList.add('poster');
    poster.src = `https://image.tmdb.org/t/p/w200${data.poster_path}`;

    container.appendChild(poster);
  })
